<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta content="webkit" name="renderer" />
  <meta content="on" http-equiv="cleartype" />
  <meta content="True" name="HandheldFriendly" />
  <meta content="320" name="MobileOptimized" />
  <meta content="no-cache" name="turbolinks-cache-control" />
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      <% app_name %>
    <% end %>
  </title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= content_for?(:head) ? yield(:head) : '' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_pack_path("media/images/favicon.ico") %>
</head>
<body class="<%= body_class %>">
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  </body>

</html>